<html>
<head>
    <link href="~/Content/AboutME.css" rel="stylesheet" />
    <meta charset="utf-8">
    <title>CSS</title>
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">
   
</head>
<body>
    <div class="card">
        <div class="front">
            <header>
                <img src="~/Assets/Hacker2.jpg" alt="image" />
            </header>
            <h3>Mahmoud Amen</h3>
            <p>
                 البرنامج مفتوح المصدر 
            </p>
            <span>Hover to see deatails</span>
        </div>
        <div class="back">
            <ul>
                <h2>My Skills</h2>
                <li>
                    <div>
                        <div class="progress html">
                            <span>HTML</span>
                            <span>95%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="progress css">
                            <span>CSS</span>
                            <span>80%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="progress javaScript">
                            <span>JavaScript</span>
                            <span>70%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="progress JQuery">
                            <span>JQuery</span>
                            <span>85%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="progress bootstrap">
                            <span>BootStrap</span>
                            <span>90%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="progress Python">
                            <span>Python</span>
                            <span>70%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="progress php">
                            <span>PHP</span>
                            <span>75%</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="progress Linux">
                            <span>Linux</span>
                            <span>50%</span>
                        </div>
                    </div>
                    <div>
                        <div class="progress CSharp">
                            <span>CSharp</span>
                            <span>80%</span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="social">
                <h2>Get In Touch With Me</h2>
                <li><a href="https://www.facebook.com/MAHMUD.AMEN"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/mahmudamen"><i class="fa fa-twitter-square"></i></a></li>
            </ul>
        </div>
    </div>

</body>
</html>


