@{
    ViewBag.Title = "تنبيه";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<h2 class="text-danger">تـنـبـيـــه!!!!!</h2>
<p>ليست لديك صلاحية الدخول لهذه الصفحة</p>
<p>يرجي إعادة تسجيل الدخول ----> @Html.ActionLink("تسجيل الدخول", "Login", "Home")</p>
<p>أو</p>
<p>يرجي مراجعة مدير النظام</p>