
@{
    ViewBag.Title = "Index";
   // Layout = "~/Admin/Land/Views/Shared/_LayoutLand.cshtml";
}
<br />


    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-red">
                <div class="stats-icon"><i class="glyphicon glyphicon-fire"></i></div>
                <div class="stats-info">
                    <h4>إدارة</h4>
                    <p>الشئون الإدارية</p>
                </div>
                <div class="stats-link">
                    <a href="~/HR/Index">Details <i class="glyphicon glyphicon-zoom-in"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue-darker">
                <div class="stats-icon"><i class="glyphicon glyphicon-bed"></i></div>
                <div class="stats-info">
                    <h4>إدارة</h4>
                    <p>الشئون المالية </p>
                </div>
                <div class="stats-link">
                    <a href="~/Ag/Index">Details <i class="glyphicon glyphicon-zoom-in"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon"><i class="glyphicon glyphicon-alert"></i></div>
                <div class="stats-info">
                    <h4>إدارة </h4>
                    <p>المشروعات </p>
                </div>
                <div class="stats-link">
                    <a href="~/Pro/Index">Details <i class="glyphicon glyphicon-zoom-in"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black-darker">
                <div class="stats-icon"><i class="glyphicon glyphicon-user"></i></div>
                <div class="stats-info">
                    <h4>المكتب </h4>
                    <p>الفنى </p>
                </div>
                <div class="stats-link">
                    <a href="javascript():">Details <i class="glyphicon glyphicon-zoom-in"></i></a>
                </div>
            </div>
        </div>
    </div>

<br />
<hr />
<br />
<link href="~/Content/dt.css" rel="stylesheet" />
@*<link href="~/Content/themes/base/autocomplete.css" rel="stylesheet" />*@
@*<link href="~/Assets/DisplayTable/jquery.dataTables.min.css" rel="stylesheet" />*@

