@{ViewBag.Title = "تقرير طبيب";}
<input type="hidden" id="cby" value=@HttpContext.Current.User.Identity.Name.Split('|')[1] />
<div class="col-md-11">
    <div class="panel panel-primary">
        <input type="hidden" value="@ViewBag.doc" id="dcn" />
        <div class="panel-heading">
            <h3 class="panel-title">
                <label class="panel-title" id="tit">تقرير الطبيب @ViewBag.doc / @ViewBag.docn</label>
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-inline ls_form">
                <div class="form-group">
                    <label style="margin-right:10px">من</label>
                    <input type="date" id="frm" value=@DateTime.Today.ToString("yyyy-MM-dd") class="form-control text-center" style="max-width:150px;display:inline-block" autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label>إلي</label>
                    <input type="date" id="tw" class="form-control text-center" style="max-width:150px;display:inline-block" max=@DateTime.Today.ToString("yyyy-MM-dd") value=@DateTime.Today.ToString("yyyy-MM-dd") />
                </div>
                <div class="form-group">
                    @Html.DropDownList("serv", (SelectList)ViewBag.serv, "الخدمة", htmlAttributes: new { @class = "form-control", @style = "max-width:200px;", id = "serv" })
                </div>
                <button class="btn btn-sm btn-success pull-left" id="pall">الكل<i class="glyphicon glyphicon-asterisk"></i></button>
                <button class="btn btn-sm btn-success pull-left" id="psts">بحث<i class="glyphicon glyphicon-search"></i></button>
                <button class="btn btn-sm btn-success pull-left" id="tpsts">تفصيلي<i class="glyphicon glyphicon-search"></i></button>
            </div>
            <br />
            <table id="example" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">تاريخ الحجز</th>
                        <th class="text-center">تاريخ الخدمة</th>
                        <th class="text-center"></th>
                        <th class="text-center">الخدمة</th>
                        <th class="text-center">القيمة</th>
                        <th class="text-center"></th>
                        <th class="text-center">الحساب</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="text-center">الإجمالي:</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/dts.js"></script>
    <script>
        $(document).ready(function () {
            $('#tpsts').click(function () {
                location.href = '/Haf/Rec/DocRep?doc=' + $('#dcn').val() + '&docn=' + $('#dcnn').val()
            });
            $('#psts').click(function () {
                var table = $("#example").DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Haf/Rec/xxgDocDudt?doc=' + $('#dcn').val() + '&frm=' + $('#frm').val() + '&tw=' + $('#tw').val() + '&shft=' + $('#shft').val() + '&st=' + $('#sata').val() + '&serv=' + $('#serv').val()).load();
            })
            $('#pall').click(function () {
                var table = $("#example").DataTable();
                table.clear();
                table.draw();
                table.ajax.url('/Haf/Rec/xxgDocDudt?doc=' + $('#dcn').val() + '&frm=' + $('#frm').val() + '&tw=' + $('#tw').val()).load();
            })
            var table = $('#example').DataTable({
                fixedHeader: true, "ordering": false, bFilter: false, "pageLength": 15,
                sAjaxSource: '/Haf/Rec/xxgDocDudt?doc=' + $('#dcn').val() + '&frm=' + $('#frm').val() + '&tw=' + $('#tw').val()
                , lengthChange: false, dom: 'Bfrtip',
                buttons: [{
                    extend: 'print', title: function () { return 'مستشفي حفصة العوضي التخصصي' }, text: '<i class="glyphicon glyphicon-print"></i>',
                    exportOptions: { modifier: { page: 'current' }, columns: [0, 1, 2, 3, 4] },
                    customize: function (win) {
                        $(win.document.body).find('table').addClass('display').css('font-size', '12px');
                        $(win.document.body).find('h4').css('text-align', 'center');
                        $(win.document.body).find('h4').text();
                    }
                },
                ],
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                    };
                    totalc = api.column(4).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(4).footer()).html(parseFloat(totalc).toFixed(2));
                },
                columns: [
                {
                    "data": "BDate", "sClass": "dt-center", "width": "15%", "render": function (data) {
                        var date = new Date(parseInt(data.substr(6))).getDate();
                        var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                        var datey = new Date(parseInt(data.substr(6))).getFullYear();
                        var fl = datey + "-" + (datem < 10 ? '0' : '') + datem + "-" + (date < 10 ? '0' : '') + date
                        return fl
                    }
                },
                {
                    "data": "SerDate", "sClass": "dt-center", "width": "15%", "render": function (data) {
                        var date = new Date(parseInt(data.substr(6))).getDate();
                        var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                        var datey = new Date(parseInt(data.substr(6))).getFullYear();
                        var fl = datey + "-" + (datem < 10 ? '0' : '') + datem + "-" + (date < 10 ? '0' : '') + date
                        return fl
                    }
                },
                { "data": "Serv", "visible": false },
                { "data": "Nots", "sClass": "dt-center", "width": "20%" },
                { "data": "price", "sClass": "dt-center", "width": "10%" },
                { "data": "Cus", "visible": false },
                { "data": "CusName", "sClass": "dt-center", "width": "20%" },
                ]
            });
        })
    </script>
}