@{ViewBag.Title = " الفتح المالي";}
<script language="javascript" type="text/javascript">
    function empcountfuc() {
        $.ajax({
            url: '/ERP/HR/empcountfuc', cache: false, type: "POST", success: function (data) {
                $('#empcount').text(parseFloat(data).toFixed(0))
            }
        });
    }
    function ORDlst() {
        $.ajax({
            url: '/ERP/Casher/ORDlst', cache: false, type: "POST", success: function (data) {
                $('#lastname').val(data)
            }
        });
    }
    function ORDlstnum() {
        $.ajax({
            url: '/ERP/Casher/ORDlstnum', cache: false, type: "POST", success: function (data) {
                $('#orderfk').val(data)
            }
        });
    }
    function Ordpk() {
        $.ajax({
            url: '/ERP/Casher/Ordpk', cache: false, type: "POST", success: function (data) {
                $('#orderpk').val(data)
            }
        });
    }
    function Totfuc() {
        $.ajax({
            url: '/ERP/Casher/Totfuc?id=' + parseInt($('#last').text()), cache: false, type: "POST", success: function (data) {
                $('#Totfuc').text(parseFloat(data).toFixed(0))
            }
        });
    }
</script>
<input type="hidden" id="prd" value=@ViewBag.prd /><input type="hidden" id="cby" value=@HttpContext.Current.User.Identity.Name.Split('|')[1] />
<div class="modal fade" id="Mdeditpro">
    <div class="modal-med">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" style="font-size: 13px !important; margin: 0px 5px 0px 5px !important ">بيانات الفتح المالي</label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <input type="hidden" id="vid" />
                            <label>اسم المشروع</label>
                            <input type="text" id="vname" class="form-control text-center" style="width:350px" readonly="readonly" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>القيمة التقديرية</label>
                            <input type="number" id="vtotalval" class="form-control text-center" readonly="readonly" style="width:100px" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ الفتح المالي</label>
                            <input type="date" id="opnfin" class="form-control text-center" style="width:150px" />
                        </div>
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>تاريخ البت المالي</label>
                            <input type="date" id="setfin" class="form-control text-center" style="width:150px" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                   
                        <div class="form-inline" style="margin:0px 5px 0px 5px">
                            <label>معرض ارشيف </label>
                            @Html.DropDownList("Galery", (SelectList)ViewBag.kprofk, "  -----اختر ارشيف -----  ", new { @class = "js-example-basic-single form-control", @style = "width:100%", id = "Galery" })

                            <label>اسم الصورة</label>
                            <input type="text" id="ReNamePic" class="form-control text-center" style="width:200px" />
                        </div>
                    
                    <br />
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 5px 0px 5px">
                            <label>وصف الصورة</label>
                            <input type="text" lang="ar-eg" placeholder="شرح توضيحي للمستند" id="Subject" class="form-control text-center" style="width:600px" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="form-group" style="margin:0px 5px 0px 5px">
                        <div class="fileUpload btn btn-primary">
                            <span>اختار صورة</span>
                            <input type="file" id="FileUpload1" class="upload" />
                        </div>
                        <div class="fileUpload btn btn-primary">
                            <span>تحميل </span>
                            <input type="button" id="btnUpload" class="upload" value="Upload Files" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="grid-gallery" class="grid-gallery">
                            <section class="grid-wrap">
                                <ul class="grid">
                                    <li class="grid-sizer"></li><!-- for Masonry column width -->
                                    <li>
                                        <figure>
                                            <img id="targetImg" src=" " alt="صورة للإرشيف " />
                                            <figcaption>
                                                <label id="namefiles"></label>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </section><!-- // grid-wrap -->

                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <a href="javascript:;" id="btneditpro" type="button" class="btn btn-sm btn-info">تعديل</a>
                    <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
                </div>
        </div>
    </div>
</div>
<div class="panel panel-primary" style="margin-bottom:5px">
            <div class="panel-heading" style="padding: 10px 10px;">
                <label class="panel-title" style="font-size: 13px !important; margin: 5px 5px 5px 5px !important "> الفتح المالي للمشروع </label>
                    <button class="btn m-r-5 m-b-5  btn-info pull-left" title="Repeat " id="refrsh"><i class="fa fa-repeat fa-1x pull-left"></i>تحديث</button>
                    <button class="btn  m-r-5 m-b-5 btn-warning pull-left" title="تعديل  " id="btnewpro"><i class="fa fa-edit fa-1x pull-left"></i>تعديل</button>
            </div>
            <div class="panel-body" style="max-height:460px; min-height:300px; padding:10px">
                <table id="tbfinprolist" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">اسم المشروع</th>
                            <th class="text-center">القيمة التقديرية</th>
                            <th class="text-center">ارسال قطاع التخطيط</th>
                            <th class="text-center">ارسال قطاع التنمية</th>
                            <th class="text-center">تاريخ الموافقة</th>
                            <th class="text-center">تاريخ الاعلان</th>
                            <th class="text-center">الفتح الفنى</th>
                            <th class="text-center">البت الفنى</th>
                            <th class="text-center">الفتح المالي</th>
                            <th class="text-center">البت المالي</th>
                            <th class="text-center">التالي</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
<link href="~/Content/google-grid.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Assets/style.btn.min.css" rel="stylesheet" />
<link href="~/Content/dt.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/dts.js"></script>
    <script>
        $(document).ready(function () {
            $(".js-example-basic-single").select2({
                dir: "rtl", language: "ar", selectOnClose: true, width: '30%'
            });
        });
        $('#btnUpload').click(function () {
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                // Adding one more key to FormData object
                fileData.append('cby', $('#cby').val());
                fileData.append('vid', $('#vid').val());
                fileData.append('Galery', $('#Galery').val());
                fileData.append('ReNamePic', $('#ReNamePic').val());
                fileData.append('Subject', $('#Subject').val());
                $.ajax({
                    url: '/ERP/Pro/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (data) {
                        //   $('#targetImg').append("<img src='/Erp/Img/" + data.resulte + "'><br>");
                        $('#targetImg').attr('src', '/Erp/Img/' + data.resulte)
                        $('#namefiles').text(data.resulte)
                        // $('#FileUpload1').empty()
                        alert(data.Message);

                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
        // var  table
        var table = $('#tbfinprolist').DataTable({
            bProcessing: false, sAjaxSource: '/ERP/Pro/tbfinprolistdef', bFilter: true, bInfo: false, lengthChange: false, scrollY: '400px', scrollCollapse: true, bPaginate: true,
            dom: 'Bfrtip',
            buttons: [{
                extend: 'print', title: function () { return 'جهاز مدينة أسوان الجديدة' }, text: '<i class="glyphicon glyphicon-print"></i>',
                exportOptions: { modifier: { page: 'current' }, columns: [1, 3, 4, 5, 6, 7, 8, 9] },
                customize: function (win) {
                    $(win.document.body).find('table').addClass('display').css('font-size', '12px');
                    $(win.document.body).find('h4').css('text-align', 'center');
                    $(win.document.body).find('h4').text('بيان الفتح المالي المشروعات');
                }
            },
            {
                extend: 'excelHtml5', title: function () { return 'بيان الفتح المالي المشروعات' },
                text: 'Excel', exportOptions: { columns: [ 1, 3, 4, 5, 6, 7, 8, 9 ,10] }, customize: function (xlsx)
                { var sheet = xlsx.xl.worksheets['طرح-المشروعات.xml']; $('row c[r^="C"]', sheet).attr('s', '2') }
            }],
            columns: [
        { "data": "ID", "visible": false, "bSearchable": false },
        { "data": "ProName", "sClass": "dt-center", "width": "20%" },
        { "data": "TotalVal", "sClass": "dt-center", "width": "10%" },
        {
            "data": "FirstAccepteDate", "width": "5%", "render": function (data) {
                if (data == null) {
                    return "ـــــ"
                }
                else {

                    var date = new Date(parseInt(data.substr(6))).getDate();
                    var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                    var datey = new Date(parseInt(data.substr(6))).getFullYear();
                    var fl = datey + "-" + datem + "-" + date
                    return fl
                }
            }
        },
                {
                    "data": "SecandAccepteDate", "width": "5%", "render": function (data) {
                        if (data == null) {
                            return "ـــــ"
                        }
                        else {

                            var date = new Date(parseInt(data.substr(6))).getDate();
                            var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                            var datey = new Date(parseInt(data.substr(6))).getFullYear();
                            var fl = datey + "-" + datem + "-" + date
                            return fl
                        }
                    }
                },
                {
                    "data": "ThirdAceepteDate", "width": "5%", "render": function (data) {
                        if (data == null) {
                            return "ـــــ"
                        }
                        else {

                            var date = new Date(parseInt(data.substr(6))).getDate();
                            var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                            var datey = new Date(parseInt(data.substr(6))).getFullYear();
                            var fl = datey + "-" + datem + "-" + date
                            return fl
                        }
                    }
                }, {
                    "data": "DeclareDate", "width": "5%", "render": function (data) {
                        if (data == null) {
                            return "ـــــ"
                        }
                        else {

                            var date = new Date(parseInt(data.substr(6))).getDate();
                            var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                            var datey = new Date(parseInt(data.substr(6))).getFullYear();
                            var fl = datey + "-" + datem + "-" + date
                            return fl
                        }
                    }
                }, {
                    "data": "OpnTechDate", "width": "5%", "render": function (data) {
                        if (data == null) {
                            return "ـــــ"
                        }
                        else {

                            var date = new Date(parseInt(data.substr(6))).getDate();
                            var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                            var datey = new Date(parseInt(data.substr(6))).getFullYear();
                            var fl = datey + "-" + datem + "-" + date
                            return fl
                        }
                    }
                }, {
                    "data": "SetTechDate", "width": "5%", "render": function (data) {
                        if (data == null) {
                            return "ـــــ"
                        }
                        else {

                            var date = new Date(parseInt(data.substr(6))).getDate();
                            var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                            var datey = new Date(parseInt(data.substr(6))).getFullYear();
                            var fl = datey + "-" + datem + "-" + date
                            return fl
                        }
                    }
                }, {
                    "data": "OpnFinDate", "width": "5%", "render": function (data) {
                        if (data == null) {
                            return "ـــــ"
                        }
                        else {

                            var date = new Date(parseInt(data.substr(6))).getDate();
                            var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                            var datey = new Date(parseInt(data.substr(6))).getFullYear();
                            var fl = datey + "-" + datem + "-" + date
                            return fl
                        }
                    }
                }, {
                    "data": "SetFinDate", "width": "5%", "render": function (data) {
                        if (data == null) {
                            return "ـــــ"
                        }
                        else {

                            var date = new Date(parseInt(data.substr(6))).getDate();
                            var datem = new Date(parseInt(data.substr(6))).getMonth() + 1;
                            var datey = new Date(parseInt(data.substr(6))).getFullYear();
                            var fl = datey + "-" + datem + "-" + date
                            return fl
                        }
                    }
                },
        {
          "data": null, "sClass": "dt-center", "width": "1%", "orderable": false,
          "defaultContent": "<button  class='xbutton small btn-danger'id='post'><i class='fa fa-step-backward'></button>"
         }
            ]
        });

        $('#refrsh').click(function () {
            var tbtprov = $("#tbfinprolist").DataTable();
            tbtprov.$('tr.selected').removeClass('selected');
            tbtprov.clear();
            tbtprov.draw();
            tbtprov.ajax.url('/ERP/Pro/tbfinprolistdef').load()
        });
            // select  function tbcpy
        $('#tbfinprolist tbody').on('click', 'tr', function () {
            var tbSysv = $("#tbfinprolist").DataTable();
            tbSysv.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');


        });
        $('#btnewpro').click(function () {
            var table = $("#tbfinprolist").DataTable();
            $(this).closest('tr').addClass('selected');
            var zvid = table.cell('.selected', 0).data()
            var name = table.cell('.selected', 1).data()
            var total = table.cell('.selected', 2).data()
            $('#vid').val(zvid)
            $('#vname').val(name)
            $('#vtotalval').val(total)
            if (zvid != null) {
                $('#Mdeditpro').modal({ backdrop: false });
            } else {
                alert("اختار مشروع لإضافة بيانات الفتح الفني")
            };

        });
        $('#btneditpro').click(function () {
            $.ajax({
                url: "@(Url.Action("editfinpro", "Pro"))",
                type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { id: $('#vid').val(), opnfin: $('#opnfin').val(), setfin: $('#setfin').val(), cby: $('#cby').val() },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    alert(data.Message)
                    var tbtprov = $("#tbfinprolist").DataTable();
                    tbtprov.$('tr.selected').removeClass('selected');
                    tbtprov.clear();
                    tbtprov.draw();
                    tbtprov.ajax.url('/ERP/Pro/tbfinprolistdef').load()
                    $('#Mdeditpro').modal("hide");
                }
                else {
                    alert(data.Message)
                }
            }
        });
        });
        $('#tbfinprolist tbody').on('click', '.xbutton', function () {
            var table = $("#tbtechprolist").DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).closest('tr').addClass('selected');
            var idv = table.cell('.selected', 0).data()
            $.ajax({
                url: "@(Url.Action("pstproj", "Pro"))",
                type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { id: idv },
            dataType: "json",
            success: function (data) {
                if (data.Success) {
                    alert(data.Message)
                } else {
                    alert(data.Message)
                }
            }

            });
            var table = $("#tbfinprolist").DataTable();
            table.$('tr.selected').removeClass('selected');
            table.clear();
            table.draw();
            table.ajax.url('/ERP/Pro/tbfinprolistdef').load();
        });
    </script>
}
